snippet folder
	<record jsxid="${1}" jsxtext="${2}" jsxunselectable="1" jsximg="jsx:/images/tree/folder.gif">
	  ${3}
	</record>
snippet comp
	<record jsxid="${1}" jsxtext="${2}" jsxunselectable="1" jsximg="jsxapp:/images/prototypes/${3}.gif">
	  ${4}
	</record>
snippet demo
	<record jsxid="${1}" jsxtext="${2}" description="${3}" />${4}
